<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile=".\logs\internal.log">

	<targets>
		<target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${levek:uppercase=true} ${message} ${exception:format=ToString}"
            fileName="${currentdir:cached=true}/logs/${shortdate}_${level}.log"
            keepFileOpen="true"
            encoding="utf-8"
			maxArchiveFiles="4"
			archiveAboveSize="10240"
				/>
		
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>